a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
#table_5ce8949f th { border: 0px solid #000000;  } 
#table_5ce8949f td { border: 0px solid #000000;  } 
#table_1b7a615c th { border: 0px solid #8C8C8C;  } 
#table_1b7a615c td { border: 0px solid #8C8C8C;  } 
#table_6d7884ee th { border: 0px solid #8C8C8C;  } 
#table_6d7884ee td { border: 0px solid #8C8C8C;  } 
#table_6d8acdac th { border: 0px solid #8C8C8C;  } 
#table_6d8acdac td { border: 0px solid #8C8C8C;  } 
#table_5c92c4e6 th { border: 0px solid #8C8C8C;  } 
#table_5c92c4e6 td { border: 0px solid #8C8C8C;  } 
body { background-color:#421470; border: 0px solid #9B0F0F; padding:6px;  margin: 0; }
.textstyle1 { text-align:justify; }
.textstyle2 { font-size:32pt; font-family:Verdana, Geneva, sans-serif; color:#FFFFFF; font-weight:bold;  }
.textstyle3 { font-size:28pt; font-family:Impact, Charcoal, sans-serif; color:#FFFFFF; text-decoration:underline; text-shadow: 2px 2px 2px #000000;  }
.textstyle4 { font-size:22pt; font-family:Impact, Charcoal, sans-serif; color:#FFFFFF;  }
.textstyle5 { font-size:24pt; font-family:Verdana, Geneva, sans-serif; color:#FFFFFF; font-weight:bold;  }
.textstyle6 { font-size:16pt; font-family:Verdana, Geneva, sans-serif; color:#FFFFFF;  }
#table_5ce8949f { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-table; width:61%; height:510px; background:none; border: 0px solid #000000; table-layout: fixed;  }
#cell_59a0caff {  }
.textstyle7 { text-align:left; }
.textstyle8 { font-size:18pt; font-family:Verdana, Geneva, sans-serif; color:#FFFFFF;  }
#cell_2af71ef1 {  }
#cell_78d6203e {  }
#cell_548ef2b6 {  }
#cell_50693a0d {  }
#cell_1d959c24 {  }
#cell_91ac625 {  }
#cell_91ac625 {  }
#cell_91ac625 {  }
#cell_91ac625 {  }
#cell_91ac625 {  }
#cell_91ac625 {  }
#cell_91ac625 {  }
#cell_91ac625 {  }
#cell_91ac625 {  }
#cell_91ac625 {  }
#cell_91ac625 {  }
#cell_91ac625 {  }
.textstyle9 { font-size:18pt; font-family:Verdana, Geneva, sans-serif; color:#FFFFFF; font-weight:bold;  }
#table_1b7a615c { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-table; width:85%; height:107px; background:none; border: 0px solid #8C8C8C; table-layout: fixed;  }
#cell_38dcc3d7 {  }
#cell_738e08a8 {  }
#cell_4d4382a7 {  }
#cell_4f58eb8e {  }
#cell_281fe99 {  }
#cell_1f0c1f09 {  }
#img_4f41ecfa { position:absolute; left:61%; top:17%; width:17%; background:none; height:auto;  }
.textstyle10 { font-size:16pt; font-family:Impact, Charcoal, sans-serif; color:#FFFFFF;  }
.textstyle11 { font-size:24pt; font-family:Verdana, Geneva, sans-serif; color:#FFFFFF;  }
#table_6d7884ee { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-table; width:65%; height:189px; background:none; border: 0px solid #8C8C8C; table-layout: fixed;  }
#cell_396dd041 {  }
#cell_377f9bd {  }
#cell_5a80de02 {  }
#cell_4c462633 {  }
#cell_7ecc029b {  }
#cell_44a74c89 {  }
#cell_31046ccd {  }
#cell_73996d52 {  }
#cell_60406e4d {  }
#cell_1f0e9b3 {  }
#table_6d8acdac { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-table; width:72%; height:93px; background:none; border: 0px solid #8C8C8C; table-layout: fixed;  }
#cell_13c07fb8 {  }
#cell_226526af {  }
#cell_36726bd2 {  }
#cell_3dc23dd {  }
#table_5c92c4e6 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-table; width:67%; height:174px; background:none; border: 0px solid #8C8C8C; table-layout: fixed;  }
#cell_51d96f85 {  }
#cell_51d96f85 {  }
#cell_36753d48 {  }
#cell_51d96f85 {  }
#cell_43d29f40 {  }
#cell_51d96f85 {  }
#cell_235b3471 {  }
#cell_51d96f85 {  }
